*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #080808;
    --second-background-color: #2A1614;
    --third-background-color: #361f1d;
    --secondary-elements-color: #E50914;
    --gray-color: #949393;
    --darker-gray-color: #151515;
    --placeholder-text-color: #7A5A56;
    --text-primary-color: #FFDAD5;
    --text-secondary-color: #fff;
    --star-color: #F5C518;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

@media(min-width: 768px) {
    html {
        font-size: clamp(75%, 1.5vw, 100%);
    }
}

/* KOMPONENTY */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.6rem;
    border-radius: .2rem;
    border: none;
    flex-grow: 1;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn--play {
    background-color: var(--secondary-elements-color);
    color: var(--text-secondary-color);
}

.btn__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--text-secondary-color);
    transition: all .3s ease-in-out;
}

.rate {
        background-color: var(--background-color);
        padding: .3rem .6rem;
        border: 1px solid var(--second-background-color);
        border-radius: .2rem;
        font-size: 1.4rem;
        color: var(--text-secondary-color);
}

.rate__icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--star-color);
}

.gray {
    padding-left: .5rem;
    color: var(--gray-color);
}

.video__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    padding: 2rem;
    background-color: rgba(8,8,8,.25);
    backdrop-filter: blur(10px);
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: stroke;
}

.video__overlay.active {
   opacity: 1;
   visibility: visible;
}

.video__item {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform: scale(0);
    width: 80vw;
    height: 60vh;
    background-color: var(--background-color);
    transition: .3s;
}

.video__item.active {
    transform: scale(1);
}

@media(min-width: 1024px) {
    .btn--play:hover {
        background-color: var(--text-secondary-color);
        color: var(--secondary-elements-color);
    }

    .btn--play:hover .btn__icon {
        fill: var(--secondary-elements-color);
    }

    .btn--transparent:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

    .video__item {
    height: 75vh;
    }
}

.loader-overlay.hidden {
    display: none;
}

.loader-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

.loader {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 3rem;
    height: 3rem;
    border: 5px solid var(--gray-color);
    border-top-color: lightblue;
    border-radius: 50%;
    animation: .5s spin linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* NAV */

.main-nav {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
}

.nav__brand {
    width: clamp(7rem, 10vw, 10rem);
}

.nav__brand, .nav__profile {
    margin-bottom: 1rem;
}

.nav__logo {
    width: 100%;
    cursor: pointer;
}

.nav__profile {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--text-secondary-color);
    cursor: pointer;
}

.profile-dropdown {
    z-index: 3;
    position: absolute;
    top: 120%;
    right: 0;
    padding: 1rem;
    height: 0;
    min-width: 20vw;
    max-width: 40vw;
    background-color: var(--third-background-color);
    border-radius: 10px;
    box-shadow: 0 0 6px 3px rgba(255, 255,255, .2);
    opacity: 0;
    transition: .3s;
}

.profile-dropdown.active {
    opacity: 1;
    height: 15vh;
}

.favourites-movies__item {
    padding: 1rem .3rem;
    color: var(--text-secondary-color);
    white-space: nowrap;
    font-size: 1.15rem;
}

.favourites-movies__item:active {
    background-color: var(--second-background-color);
}

.nav__search {
    padding: 0 5%;
    flex-basis: 100%;
    border-top: 1px solid var(--gray-color);
}

.nav__search-box {
    margin-top: 1rem;
    position: relative;
}

.nav__input-box {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: .5rem;
}

.nav__input-box:focus, .nav__input-box:active {
    border-color: white;
}


.nav__search-input {
    width: 100%;
    padding: 1rem 1.2rem 1rem 3.5rem;
    background-color: var(--second-background-color);
    border-radius: 0.5rem;
    /* border: 2px solid transparent */
    border: none;
    color: var(--text-secondary-color);
    font-size: 1.4rem;
    transition: .3s;
}

.nav__search-input:focus  {
    /* border-color: var(--gray-color); */
}

.nav__search-input::placeholder {
    color: var(--placeholder-text-color);
    font-size: 1.4rem;
    opacity: .6;
}

.nav__search-icon {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--placeholder-text-color);
}

.autocompletion__list {
    padding: 1rem 1.5rem;
    position: absolute;
    top: 90%;
    left: -2px;
    right: -2px;
    width: calc(100% + 4px);
    z-index: 4;
    background-color: var(--third-background-color);
    border: 1px solid white;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-top: none;
    list-style: none;
    opacity: 1;
    transition: .5s;
}

.autocompletion__list.hidden {
    top: 50%;
    opacity: 0;
}

.autocompletion__item {
    padding: .4rem .5rem;
    color: var(--text-secondary-color);
    cursor: pointer;
    transition: .3s;
}

.autocompletion__item.active {
        background-color: var(--second-background-color);
}

@media (min-width: 1024px) {
    .nav__brand {
        order: -2;
        margin-bottom: 0;
    }

    .nav__profile {
        margin-bottom: 0;
    }

    .favourites-movies__item:hover {
    background-color: var(--second-background-color);
    }

    .nav__search-box {
        margin-top: 0;
    }

    .nav__search {
        order: -1;
        flex-basis: auto;
        border-top: none;
    }

    .nav__search-input {
        margin-top: 0;
        width: 30rem;
    }

    .nav__search-input:hover {
        background-color: var(--third-background-color);
    }

    .autocompletion__item:hover {
        background-color: var(--second-background-color);
    }
}

/* MAIN */
.main {
    padding-bottom:4rem;
    background-color: var(--background-color);
}

/* HERO OVERLAY */

.hero__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(
            to top,
            rgba(8,8,8,.95),
            rgba(8,8,8,.10)
        );
    pointer-events: none;
}

/* MOVIES */

.movies {
    padding: 2rem;
}

.movies__title {
    font-size: 2rem;
    color: var(--text-secondary-color);
    margin-bottom: 1rem;
}

.movies__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

.movies__grid--results {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: start;
}

.movie__card {
     max-width: 300px;
    color: var(--text-secondary-color);
    transition: .3s;
}

.movie__image {
    width: 100%;
    height: 100%;
    max-height: 455px;
    max-width: 500px;
    object-fit: cover;
    border-radius: .2rem;
}

.movie__title {
    color: var(--text-primary-color);
}

.movie__poster {
    display: inline-flex;
    position: relative;
    min-width: 150px;
    min-height: 200px;
}

.rate--poster {
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: var(--background-color);
    padding: .3rem .6rem;
    border: 1px solid var(--second-background-color);
    border-radius: .2rem;
    font-size: 1.4rem;
}

@media(min-width: 1024px) {
    .movies__grid {
        gap: 1.5rem;
    }

    .movies__grid--results {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: start;
    }
    .movie__card:hover {
        transform: translateY(-3px);
        cursor: pointer;
    } 

    .pagination__item:hover, .pagination__jump-to:hover {
    background-color: var(--text-primary-color);
}
}

/* FOOTER */

.footer {
    padding: 2.5rem 2rem;
    background-color: var(--second-background-color);
    color: var(--text-secondary-color);
}

.nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-bottom__icons, .nav-bottom__links {
    display: flex;
}

.nav-bottom__icons {
    gap: .5rem;
}

.nav-bottom__logo {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--gray-color);
    transition: .3s;
    cursor: pointer;
}

.nav-bottom__logo:active {
    fill: var(--text-secondary-color);
}

.nav-bottom__links {
    gap: 1.2rem;
}

.nav-bottom__link {
    color: var(--text-secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: .3s;
}

.nav-bottom__link:active {
    color: var(--secondary-elements-color);
}

.copyright {
    margin-top: 1rem;
    text-align: right;
    color: var(--gray-color);
}

@media(min-width: 1024px) {
    .nav-bottom__logo:hover {
    fill: var(--text-secondary-color);
    }
    .nav-bottom__link:hover {
    color: var(--secondary-elements-color);
    }
}